$buttonColor : #4d3f9b;
$aboutColor: #4A4561;
$menuBarBackground : #4d3f9b;
$contactBackground: #4d3f9b;
$homeBackground: #F8F7FE;
$experienceDesc: #606060;
* {
    padding: 0 ;
    margin: 0 ;
    text-decoration: none;
    // list-style: none;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Montserrat;
}

.menu-bar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    .navbar-custom {
        height: 80px;
        width: 100%;
        background-color: $menuBarBackground;
    }
    .myLogo {
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 100px;
        line-height: 80px;
    }
    .ul {
        float: right;
        margin-right: 40px;
    }

    li {
        display: inline-block;
        margin: 0 8px;
        line-height: 80px;
    }

    a {
        text-transform: uppercase;
        color: white;
        border: 1px solid transparent;
        font-size: 18px;
        padding: 7px 10px;
        border-radius: 3px;
    }
     a.active, .menu-bar a:hover {
        border: 1px solid white;
        transition: 0.5s;
    }
}

.home-page {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: $homeBackground;
    .data-layer {
        display: flex;
        flex-grow: 1;
        // justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .description {
        width: 50%;
        margin-left: 100px ;
        color: $aboutColor;
        font-size: larger;
        h6 {
            font-size: larger;
        }
        .name {
            font-size: 60px;
            display: block;
        }
    }
    .image img {
        height: 357px;
        width: 398px;
        border-radius: 50%;
    }
    .button-row {
        margin-top: 15px;
        button {
            border: 0;
            padding: 8px 25px;
            border-radius: 15px;
            margin-right: 10px;
        }
        .contact-button {
            background-color: $buttonColor;
            color: white;
        }
        .resume {
            background-color: white;
            color: $buttonColor;
            border: 1px solid $buttonColor;
        }
    }
}

.skills-wrapper {
    min-height: 500px;
    .section {
        margin-top: 25px;
        .heading {
            text-align: center;
        }
        .list-skills{
            padding: 25px 100px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .skill-card {
            box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
            height: 150px;
            width: 200px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 25px;
            .logo{
                display: flex;
                justify-content: center;
            }
            img {
                border-radius: 20px
            }
            h4 {
                text-align: center;
            }
        }
        .logo-div {
            border-radius: 50%;
            background: white;
            padding: 5px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.contact-wrapper {
    width: 100%;
    // height:  calc(100vh - 80px);
    background-color: $contactBackground;
    .main {
        padding: 75px;
        height: 100%;
        .outer-model {
            height: auto;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
            display: flex;
            padding-bottom: 10%;
            padding-top: 10%;
            .left-side {
                text-align: center;
                padding: 50px 100px;  
                width: 50%;
                h2 {
                    font-weight: bold;
                    font-size: 61px;
                }
            }
            .right-side{
                width: 50%;
                .form {
                    margin-left: 60px;
                }
                input, textarea {
                    border: none;
                    background-color: #e6e3f7;
                    border-radius: 5px;
                    padding: 5px;
                    margin-bottom: 10px;
                    min-width: 250px;
                    width: 50%;
                    height: 50px;
                }
                textarea {
                    min-height: 200px;
                }
                .send-message {
                    button {
                        padding: 8px 25px;
                        border-radius: 5px;
                        margin-right: 10px;
                        background-color: $buttonColor;
                        color: white;
                        border: none
                    }
                }
            }
            
        }
    }
}

.experience-page {
    background-color: $homeBackground;
    padding: 25px 100px;
    .experience-div {
        .experience-list {
            img {
                border-radius: 50%;
            }
            margin: 50px 0;
            height: auto;
            background-color: white;
            box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
            padding: 15px 0;
            text-align: center;
            .description {
                color: $experienceDesc;
            }
            .roles {
                padding: 25px 10%;
                text-align: left;
            }
        }
    }
}
.section-heading {
    text-align: center;
    h1 {
        text-align: center;
    }
}

.projects-wrapper {
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    .heading {
        padding: 25px 0px;
        flex-direction: column;
        border-radius: 10px 10px 0 0;
    }
    .image-div {
        background: white;
        border-radius: 50%;
        padding: 10px;
    }
    .project-list {
        min-height: 450px;
        min-width: 350px;
        max-width: 350px;
        max-height: 500px;
        background-color: $homeBackground;
        margin-right: 80px;
        border-radius: 10px;
        .project-sections {
            margin-top: 15px;
            margin-left: 15px; 
            .head {
                font-size: 21px;
                text-decoration: underline;
            }
            .tech-list {
                display: flex;
                flex-wrap: wrap;
                span {
                    display: block;
                    margin : 8px 5px 0 0;
                    padding: 9px;
                    border-radius: 15px;
                }
            }
        }
        li {
            list-style: disc;
        }
    }
}